*, .dom, .dom * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Josefin Sans;
    font-size: 19px;
}

span, strong, b, em, i, code {
    display: inline;
    margin: 0;
    padding: 0;
}

pre.highlight {
    position: relative;
    margin: 4px;
    padding: 8px;
    background: #000;
    border: 2px solid #555;
    box-shadow: 0 0 5px #fff;
    color: #ccc;
    border-radius: .5em;
    overflow-x: auto;
}

pre.highlight.js::after {
    content: "Javascript";
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    font-variant: small-fonts;
    opacity: .3;
    color: #fff;
}

pre.highlight .keyword {
    color: #07f;
    font-weight: bold;
}

pre.highlight .keyword2 {
    color: #0ff;
    font-weight: bold;
}

pre.highlight .function {
    color: #fff;
    font-weight: bold;
}

pre.highlight .symbol {
    color: #f08;
}

pre.highlight .operator {
    color: #f80;
}

pre.highlight .comment {
    color: #777;
}

pre.highlight .string {
    color: #0f0;
}

pre.highlight .regexp {
    background: #ff8;
    color: #000;
}
div.article{font-family:josefin-sans;position:absolute;left:0;top:0;width:100%;height:100%;background:#000}div.article>header{position:absolute;left:0;top:0;width:100%;height:2rem;line-height:2rem;padding:0 1rem;font-weight:bolder;background:#dc9D;color:#ffd;font-size:120%;text-align:center;font-variant:small-caps;letter-spacing:.1rem}div.article>nav{position:absolute;left:0;top:2rem;bottom:0;width:240px;height:auto;padding:.5rem;overflow:auto;background:#dc9}div.article>article{position:absolute;left:240px;top:2rem;bottom:0;right:0;width:auto;height:auto;padding:1rem;overflow:auto;background:#eee}div.article>article *{max-width:960px}div.article>article h1,div.article>article h2,div.article>article h3,div.article>article h4,div.article>article h5{clear:both}div.article>nav>h1{font-size:1.2rem;font-weight:700;margin:0}div.article>nav>*{margin:2px 0}div.article>nav>a,div.article>nav>a:visited{display:block;color:maroon;text-decoration:none}div.article>nav>a:hover{text-decoration:underline}div.article>nav>div{padding:3px;background:rgba(255,255,255,.5)}div.article>article canvas{background:#fff;margin:4px;display:inline-block;box-shadow:0 4px 8px rgba(0,0,0,.5)}div.article div.wdg-showhide{clear:both}div.article>article table{border-collapse:collapse;clear:both;box-shadow:0 2px 4px rgba(0,0,0,.5)}div.article>article table td,div.article>article table th{padding:3px 6px;border:1px solid rgba(0,128,255,.5);background:#fff}*,.dom,.dom *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}a,b,code,em,i,span{display:inline;margin:0;padding:0}.dom.wide{display:block;width:100%;margin-right:0;margin-left:0}.dom.wide-flex{display:flex;width:100%;margin-right:0;margin-left:0}.dom.hide{display:none}input:placeholder-shown{color:rgba(50,75,120,.5)}body,html{height:100%;margin:0;padding:0}body{font-family:'Josefin Sans',josefin-sans,sans-serif;color:#000}hr{border:none;height:1px;background-image:-webkit-linear-gradient(to right,transparent,rgba(0,0,0,.5) 50%,transparent);background-image:linear-gradient(to right,transparent,rgba(0,0,0,.5) 50%,transparent)}.theme-label{color:rgba(0,0,0,.8);font-family:sans-serif;white-space:nowrap;text-overflow:ellipsis;font-variant:small-caps;line-height:1rem;font-size:.8rem;padding:0 .5rem;margin:0;text-align:left;vertical-align:middle}.theme-info{color:#000;background:#fff;margin:.5rem;padding:1rem;text-align:justify;box-shadow:0 0 1px rgba(0,0,0,.4)}.theme-elevation-0{box-shadow:none;z-index:0}.theme-elevation-1{box-shadow:0 .5px 1px rgba(0,0,0,.4);z-index:1}.theme-elevation-2{box-shadow:0 1px 2px rgba(0,0,0,.4);z-index:2}.theme-elevation-3{box-shadow:0 1.5px 3px rgba(0,0,0,.4);z-index:3}.theme-elevation-4{box-shadow:0 2px 4px rgba(0,0,0,.4);z-index:4}.theme-elevation-6{box-shadow:0 3px 6px rgba(0,0,0,.4);z-index:6}.theme-elevation-8{box-shadow:0 4px 8px rgba(0,0,0,.4);z-index:8}.theme-elevation-9{box-shadow:0 4.5px 9px rgba(0,0,0,.4);z-index:9}.theme-elevation-12{box-shadow:0 6px 12px rgba(0,0,0,.4);z-index:12}.theme-elevation-16{box-shadow:0 8px 16px rgba(0,0,0,.4);z-index:16}.theme-elevation-18{box-shadow:0 9px 18px rgba(0,0,0,.4);z-index:18}.theme-elevation-24{box-shadow:0 12px 24px rgba(0,0,0,.4);z-index:24}.theme-color-bg-0{background-color:#eff}.theme-color-0{color:#eff}.theme-color-bg-1{background-color:#ddf5f8}.theme-color-1{color:#ddf5f8}.theme-color-bg-2{background-color:#ccebf1}.theme-color-2{color:#ccebf1}.theme-color-bg-3{background-color:#bbe0eb}.theme-color-3{color:#bbe0eb}.theme-color-bg-4{background-color:#aad6e4}.theme-color-4{color:#aad6e4}.theme-color-bg-5{background-color:#9cd}.theme-color-5{color:#9cd}.theme-color-bg-6{background-color:#7ab8cc}.theme-color-6{color:#7ab8cc}.theme-color-bg-7{background-color:#5ca3bb}.theme-color-7{color:#5ca3bb}.theme-color-bg-8{background-color:#3d8faa}.theme-color-8{color:#3d8faa}.theme-color-bg-9{background-color:#1f7a99}.theme-color-9{color:#1f7a99}.theme-color-bg-10{background-color:#068}.theme-color-10{color:#068}.theme-color-bg-A0{background-color:#ffc}.theme-color-A0{color:#ffc}.theme-color-bg-A1{background-color:#ffe7a3}.theme-color-A1{color:#ffe7a3}.theme-color-bg-A2{background-color:#ffcf7a}.theme-color-A2{color:#ffcf7a}.theme-color-bg-A3{background-color:#ffb852}.theme-color-A3{color:#ffb852}.theme-color-bg-A4{background-color:#ffa029}.theme-color-A4{color:#ffa029}.theme-color-bg-A5{background-color:#f80}.theme-color-A5{color:#f80}.theme-color-bg-A6{background-color:#f07c00}.theme-color-A6{color:#f07c00}.theme-color-bg-A7{background-color:#e16f00}.theme-color-A7{color:#e16f00}.theme-color-bg-A8{background-color:#d16300}.theme-color-A8{color:#d16300}.theme-color-bg-A9{background-color:#c25600}.theme-color-A9{color:#c25600}.theme-color-bg-A10{background-color:#b34a00}.theme-color-A10{color:#b34a00}.theme-color-bg-B0{background-color:#fff}.theme-color-B0{color:#fff}.theme-color-bg-B1{background-color:#f5f7f8}.theme-color-B1{color:#f5f7f8}.theme-color-bg-B2{background-color:#eceff1}.theme-color-B2{color:#eceff1}.theme-color-bg-B3{background-color:#e2e8ea}.theme-color-B3{color:#e2e8ea}.theme-color-bg-B4{background-color:#d9e0e3}.theme-color-B4{color:#d9e0e3}.theme-color-bg-B5{background-color:#cfd8dc}.theme-color-B5{color:#cfd8dc}.theme-color-bg-B6{background-color:#becacf}.theme-color-B6{color:#becacf}.theme-color-bg-B7{background-color:#acbbc2}.theme-color-B7{color:#acbbc2}.theme-color-bg-B8{background-color:#9badb6}.theme-color-B8{color:#9badb6}.theme-color-bg-B9{background-color:#899ea9}.theme-color-B9{color:#899ea9}.theme-color-bg-B10{background-color:#78909c}.theme-color-B10{color:#78909c}@font-face{font-family:josefin-sans;font-style:normal;font-weight:400;src:local('Josefin Sans'),local('JosefinSans'),url(font.josefin/josefin.woff2) format('woff2');unicode-range:U+0100-024F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:josefin-sans;font-style:normal;font-weight:400;src:local('Josefin Sans'),local('JosefinSans'),url(font.josefin/josefin.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000}