.noise-tris {
    display: inline-block;
    padding: 0;
    text-align: center;
}

.noise-tris > canvas {
    margin: 0;
    width: 600px;
    height: 600px;
    max-width: 90vmin;
    max-height: 90vmin;
}

.noise-tris > div.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
