.tfw-focusable.focus {
    outline: 1px dotted rgba(0,0,0,.5);
}

div.tfw-focusable-invisible {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}