div.wdg-matrix {
    display: inline-flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    margin: 3px 4px;
}

div.wdg-matrix > div {
    display: inline-block;
    flex: 1 0;
    margin: 0 3px;
}

div.wdg-matrix > div.mtx {
    display: inline-table;
    box-shadow: 0px 2px 4px #f70;
    border-collapse: collapse;
}

div.wdg-matrix > div.mtx > div {
    display: table-row;
    background: #fff;
}

div.wdg-matrix > div.mtx > div > div {
    display: table-cell;
    font-size: 80%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #f70;
    padding: 2px 4px;
}
