div.wdg-frustrum2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

div.wdg-frustrum2 > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 200px;
}

div.wdg-frustrum2 > canvas {
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
}
