.x-box {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
    margin: 0;
    background-color: rgba(0,0,0,.2)        
}

.x-box > div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    margin: auto auto;
    background-color: #eee;
    padding: 1rem;
    cursor: default;
}

.x-box > div > * {
    flex: 0 1 auto;
}
