.noise-quads {
    display: inlin-block;
    padding: 0;
    text-align: center;
}

.noise-quads > canvas {
    margin: 0;
    width: 640px;
    height: 640px;
    max-width: 90vmin;
    max-height: 90vmin;
}
