* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

header {
    font-family: sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 32px;
    background: rgba(0,0,0,.5);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    color: #ddd;
}

header > div {
    margin: 0 8px;
}

header b {
    color: #fff;
    font-size: 24px;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    margin: 4px 0;
}

div.tbl {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

div.tbl > div {
    display: table-row;
}

div.tbl > div > div {
    display: table-cell;
    vertical-align: middle;
    padding: 3px 16px;
}

div.tbl > div > div:first-child {
    text-align: right;
}

div.tbl > div > div:last-child {
    text-align: left;
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 280px;
    height: 320px;
    margin: -160px -140px;
    border-radius: 8px;
    padding: 8px;
    background: rgba(0,0,0,.8);
    z-index: 9;
    font: 70%;
    transform: translateY(0);
    transition: all .3s;
}

button {
    border: none;
    background: #CD9;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 4px;
}

#welcome.hide {
    transform: translateY(-200%);
    transition: all .3s;
}

@media (max-width:480px) {
    header {
        font-size: 10px;
        height: 16px;
    }
    header b {
        color: #fff;
        font-size: 16px;
    }
}
