html {
    font-size: 6vmin;
}

body {
    margin: 0;
    height: 100%;
    padding: 0;
    overflow: hidden;
    background: #000;
}

@media (orientation: portrait) {
    canvas {
        width: 100vw;
        height: 100vw;
    }
    section {
        position: absolute;
        left: 0;
        top: 100vw;
        right: 0;
        bottom: 0;
        padding: 1em;
        text-align: center;
        box-shadow: 0 0 1px 1px #fff inset;
        color: #ddd;
    }
}

@media (orientation: landscape) {
    canvas {
        width: 100vh;
        height: 100vh;
    }
    section {
        position: absolute;
        left: 100vh;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 1em;
        text-align: center;
        box-shadow: 0 0 1px 1px #fff inset;
        color: #ddd;
    }
}
