div.tfw-font-loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;
    height: 0px;
    overflow: hidden;
    color: transparent;
    margin: 0;
    padding: 0;
}