.tfw-touchable {
    position: fixed;
    z-index: 999999;
}

.tfw-touchable-elem {
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.tfw-touchable > div.tfw-touchable-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.tfw-touchable > div.tfw-touchable-container > div.tfw-touchable-shadow {
    content: '.';
    font-size: 0;
    color: transparent;
    position: absolute;
    border-radius: 100%;
}
