.tfw-view-cropped-image {
  padding: 0;
  position: relative;
  display: inline-block;
  background: transparent;
}

.tfw-view-cropped-image.wide {
  display: block;
}

.tfw-view-cropped-image > * {
  display: block;
  margin: 0;
  border: none;
}

.tfw-view-cropped-image > .visual {
  position: relative;
  display: inline-block;
  max-width: 90vw;
  max-height: 90vh;
  background: #FFF;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  background-repeat:   repeat;
  background-image:    url(tfw.view.cropped-image/back.jpg);
}

.tfw-view-cropped-image > .visual > canvas,
.tfw-view-cropped-image > .visual > img {
  margin: 0;
  background: transparent;
}


.tfw-view-cropped-image > .label {
  opacity: .5;
  font-size: .8em;
  text-align: left;
}

.tfw-view-cropped-image > div > img,
.tfw-view-cropped-image > div > canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: none;
  opacity: 1;
}

.tfw-view-cropped-image > div > img.hide {
  transition: opacity .3s;
  opacity: 0;
}


.tfw-view-cropped-image div.tfw-view-file-input {
  display: none;
  margin: 0;
}
