.wdg-area > .label {
    font-size: 70%;
    padding: 0 0 0 8px;
    opacity: .7;
    background: transparent;
    height: 16px;    
}

.wdg-area > textarea {  
  width: auto;
  padding: .5rem;
  border: none;
  color: #000;
  font-size: 1rem;
  font-family: inherit;
}

.wdg-area.wide > textarea {
  width: 100%;
}
