.wdg-code {
    display: block;
    padding: 8px;
    width: 300px;
    float: left;
    margin: 0 1em 1em 0;
}

.wdg-code > pre {
    background: #ddd;
    padding: .2em;
    border: 1px solid #444;
}

.wdg-code > .light {
    background: #fff;
}

.wdg-code > .dark {
    background: #000;
}

.wdg-code > div.light,
.wdg-code > div.dark {
    padding: .5em;
    margin: .25em 0;
    border-radius: 1em;
    box-shadow: 0 0 1px 1px #888;
}